h1 {
    margin: 0;
}

.example-card {
    max-width: 400px;
    // height: 300px;
  }
  
  .example-header-image {
    background-image: url('/assets/icons/logo.PNG');
    background-size: cover;
  }
// img {
//     width: auto;
// }
