h1 {
    margin: 0;
}

.example-card {
    max-width: 400px;
    // height: 300px;
  }
  
  .example-header-image {
    background-image: url('/assets/icons/logo.PNG');
    background-size: cover;
  }
// img {
//     width: auto;
// }
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
  .jumbotron {
      margin: 0;
  }
