<section class="container">
    <h1 class="py-2"> Services Provided</h1>

    <mat-tab-group>
        <mat-tab label="WATER FILTER">
            <div class="row p-4">
                <div class="col-sm pb-2">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>RO WATER</mat-card-title>
                            <mat-card-subtitle>FILTER SERVICES</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/ro.JPG" alt="Photo of a RO WATER">
                        <mat-card-content>
                            <p>
                                Pure Water is the World’s First and Foremost Medicine
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="HOUSE KEEPING">
            <div class="row p-4">
                <div class="col-sm pb-2">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>HOUSE KEEPING</mat-card-title>
                            <mat-card-subtitle>SERVICES</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="/assets/images/housekeep.JPG" alt="Photo of a HOUSE KEEP">
                        <mat-card-content>
                            <p>
                                Carpet & Sofa Cleaning.
                                Sump & Water Tank Cleaning
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>